::-webkit-scrollbar {
    display:none;
}
.clear:after{
    content: '';
    display: block;
    clear:both;
}
/*返回顶部*/
#backtop{
  z-index: 999;
  position: fixed;
  bottom: 60px;
  right: 50px; 
  width: 50px; 
  height: 0;
  /*background-color: green;*/
  background: url(../images/totop.png) center no-repeat; 
  background-size: 100% 100%;
  transition: 1s;
}
#backtop.show {
   height: 50px;
}
#backtop.show:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
/*头部开始*/
.btn{
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.bottom-arrow:after{
    content:"";
    border:18px solid #F4D03F;
    border-bottom:none;
    border-right-color:transparent;
    border-left-color:transparent;
    position:relative;
    top:180px;
    left:-6px;
}
.intro{
    //overflow: hidden;
    //position: fixed;
    width:100%;
    height:100%;
    padding:0;
    padding-bottom: 50px;
    margin:0;
    background:#363231 url("../images/banner.jpg") bottom center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1{
    color:white;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -1px;
}
h1 .brand{
    color:#F4D03F;
    margin-left:0;
}
nav{
    background: transparent;
    height:50px;
}
#banner{
    background: transparent ;
    height:700px;
}
nav ul{
    list-style:none;
    margin:0;
}
nav ul li{
    display:inline-block;
    line-height: 50px;
    float:right;
    margin-top:5px;
    margin-right:40px;
}
nav ul li a:link,nav ul li a:visited{
    //font-size: 18px;
    line-height:50px;
    text-decoration: none;
    display: inline-block;
    height:inherit;
    color: #ffffff;
}
nav ul li a:hover{
    text-decoration: none;
    color:#F4D03F;
}
#banner .inner{
    max-width: 300px;
    text-align: center;
    margin:0 auto;
    position: relative;
    top:160px;
}

#banner .inner .message{
    line-height: 20px;
    padding:5px;
    color:white;
    font-size:24px;
}
.inner h1 + p{
    margin-top:20px;
}
.logo{
    float:left;
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 1px;
    padding:10px;
}
.logo a{
    text-decoration: none;
    color: #F4D03F;
}
/*头部结束*/
/*内容开始*/
/*基本信息开始*/
.one{
    background: #63666A;
    color: #ffffff;
    text-align: center;
    padding:100px 0;
    padding-bottom: 180px;
}
.wrapper{
    margin:0 auto;
    max-width: 1080px;
}

.one .hr{
    background:#F4D03F;
    width:8%;
    height:5px;
    margin:20px auto;
}
.hr{
    margin:0 auto;
    width:100%;
    height:2px;
}
.sub-heading{
    font-size: 30px;
}
.one .icon-group .icon{
    display:inline-block;
    width:80px;
    height:80px;
    background:#B4AF9B;
    border:1px solid #645C5C;
    transform: rotate(45deg);
    margin:20px 80px;
    line-height: 24px;
    font-size: 20px;
}
.one .icon-group{
    margin-top:30px;
}
.message-group .msg{
    float:left;
    margin:20px 15px 30px 65px;
   // padding-bottom:20px;
}
.message-group h4{
    color: #F4D03F;
    font-size:20px;
}
/*基本信息结束*/
/*个人作品开始*/
.seven{
    background-color: #2389bf;
    padding: 20px 0 140px;
}
.seven h2{
    margin: 0;
    padding: 50px 0 0;
    text-align: center;
    color: #fff;
}
.seven .hr{
    background: #F4D03F;
    width: 8%;
    height: 5px;
    margin: 16px auto 90px;
}
.seven .demo{
    float: left;
    width: 25%;
}
.seven .demo a{
    width: 180px;
    height: 180px;
    display: block;
    border: 4px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
}
.seven #demo1 a{
    background-color: #ED6461;
}
.seven #demo2 a{
    background-color: #9C58B6;
}
.seven #demo3 a{
    background-color: #16CC70;
}
.seven #demo4 a{
    background-color: #ea851cde;
}
.seven .demo a span{
    margin: 70px auto;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.seven .demo a:hover span{
    text-decoration: underline;
}
.seven .demo .desc{
    width: 80%;
    margin: 40px auto;
    font-size: 18px;
    color: #fff;
}
/*个人作品结束*/
/*校内经历开始*/
.two{
    background:#575050;
    color:#fff;
}
.two .img{
    width:45%;
}
.two .img img{
    width:100%;
}
.two .text{
    width:55%;
    position: relative;
    top:60px;
    left:30px;
}
.text > *{
    max-width: 90%;
}
.two .text h2{
    margin-bottom: 15px;
    color: #F4D03F;
}

.two .text .sub-heading{
    font-size:20px;
    margin-top:0;
}
.article > div{
    float:left;
    font-size: 0;
}

.article:nth-child(even){
    background-color: rgba(255,255,255,0.2);
}
.two .text p{
    padding-top:10px;
}
/*校内经历结束*/
/*专业技能开始*/
.three{
    background:#F0CC3D;
    color:#fff;
    padding:10px;
}
.three .wrapper .sub-heading{
    text-align:center;
}
.three p{
    font-size:20px;
}
.three .hr{
    background:#A38C31;
    width:60%;
    margin-bottom: 40px;
}
.card{
    float: left;
    min-height: 350px;
    width:50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:50px;
}
.card h3{
    font-size:20px;
    font-weight: bold;
    color:#333;
}
p{
    font-size:18px;
    letter-spacing: 1px;
}
.card:first-child{
    background-color: rgba(0,0,0,0.20);
}
.card:nth-child(2){
     background-color: rgba(0,0,0,0.16);
 }
.card:nth-child(3){
    background-color: rgba(0,0,0,0.12);
}
.card:nth-child(4){
    background-color: rgba(0,0,0,0.08);
}
.card:nth-child(5){
    background-color: rgba(0,0,0,0.04);
}
.card:nth-child(6){
    background-color: rgba(0,0,0,0.02);
}
/*专业技能开始*/
/*所获荣誉开始*/
.four{
    background: #63666A url("../images/img-3.jpg") bottom center no-repeat;
    color: #ffffff;
    text-align: center;
    padding:100px 0;
    padding-bottom: 180px;
}
.four .hr{
    background:#F4D03F;
    width:5%;
    height:5px;
    margin:20px auto;
}

.four .rect{
    display:inline-block;
    text-align:center;
    margin: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position:relative;
    width:150px;
    height:150px;
    background:#F4D03F;
    -moz-animation:myfirst 10s infinite alternate;
    -webkit-animation:myfirst 10s infinite alternate;
    -o-animation:myfirst 10s infinite alternate;
    animation:myfirst 10s infinite alternate;
}
.rect p{
    position: absolute;
    top:50px;
    width:100%;
    padding-left:5px;
    font-style: 20px;
}
@keyframes myfirst
{
    0%   {background:#F4D03F;}
    25%  {background:#E63333;}
    50%  {background:#43A4CE;}
    80% {background:#30B557;}
}

@-moz-keyframes myfirst
{
    0%   {background:#F4D03F;}
    25%  {background:#E63333;}
    50%  {background:#43A4CE;}
    80% {background:#30B557;}
}

@-webkit-keyframes myfirst
{
    0%   {background:#F4D03F;}
    25%  {background:#E63333;}
    50%  {background:#43A4CE;}
    80% {background:#30B557;}
}

@-o-keyframes myfirst
{
    0%   {background:#F4D03F;}
    25%  {background:#E63333;}
    50%  {background:#43A4CE;}
    80% {background:#30B557;}
}

/*所获荣誉结束*/
/*实习经历开始*/
.five{
    background: #4D495C;
    color: #ffffff;
    text-align: center;
    padding:100px 0;
}
.five .hr{
    background:#F4D03F;
    width:5%;
    height:5px;
    margin:20px auto;
}

.five .img img{
    width: 300px;
    height: 250px;
    border-radius: 50%;
    margin-top:20px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.five .img img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
    border:3px solid #F4D03F;
}
.five .text{
    width: 800px;
    margin: 0 auto;
    text-align: center; 
    padding: 10px 20px;
}
.five .sub-heading{
    color:#fff;
}
.five h2{
    color:#F4D03F;
}
.five .text h2,.five .text p{
    text-align: center;
    margin:0 auto;
}
/*实习经历结束*/
/*自我评价开始*/
.six{
    background:url("../images/bg1.jpg") bottom center no-repeat;
    color:#fff;
    text-align: center;
    height:500px;
    background-attachment: fixed;
}

.six .hr{
    background:#F4D03F;
    width:5%;
    height:5px;
    margin:20px auto;
}
.six .sub-heading{
    font-size:30px;
    font-weight: 500;
    margin-top:0;
    padding-top:50px;
    text-align: center;
}
.six .change p{
    font-size:24px;
    margin-top:100px;
}
input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 2em;
    height: 2em;
    margin-top:3em;
    margin-right: 0.4em;
    border-radius: 50%;
    border: 4px solid #F4D03F;
    text-indent: 0.15em;
    line-height: 1;
}
input[type="radio"]:checked + label::before {
    background-color: #F4D03F;
    background-clip: content-box;
    padding: 0.2em;
}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
/*自我评价结束*/
/*页脚开始*/
footer{
    background:#575050;
    color:#fff;
    min-height:100px;
    text-align: center;
}
.copy{
    padding-top:40px;
    padding-bottom: 20px;
}
/*页脚结束*/
